$mainFont: 'Roboto', sans-serif;
$whiteColor: #ffffff;
$blackColor: #000000;
$orangeColor: #FF6B08;
$secondaryOrangeColor: #FF6B01;
$footerTextColor: #545454;
$bgColor: #f7f7f7;
$modal-slave-color: #8c8c8c;
$green-color: #1baa1b;
$blackThemeMain: #252526;
$blackThemeSecondary: #3e3e42;
$blackThemeText: #b7b7b7;