<header class="header-library">
    <div class=" header-library-container">
        <nav class="header-library-nav">
            <a href="#" class="logo-link-header-library link">
                <!-- <svg class="contact-icon" width="20" height="20">
                    <use href="../images/svg/sprite.svg#icon-film"></use>
                </svg> -->
                <h1 class="header-logo-title">Filmoteka</h1>
            </a>
            
            <ul class="nav-buttons">
                <button class="header-nav-btn">home</button>
                <button class="header-nav-btn current">my library</button>
            </ul>
        </nav>
        <ul class="header-buttons list">
            <button class="header-library-btn">Watched</button>
            <button class="header-library-btn">queue</button>
        </ul>

    </div>
</header>