<header class="header header-library">
    <div class="container header-library__container ">
        <nav class="nav header-library-nav">
            <a href="#" class="logo link js-icon">
                <svg width="24" height="24">
                    <use href="/images/svg/sprite.svg#icon-film"></use>
                </svg>
                <h1 class="site-title">Filmoteka</h1>
            </a>
            
            <div class="nav__buttons">
                <button class="nav__btn js-home">home</button>
                <button class="nav__btn current">my library</button>
            </div>
        </nav>
        <div class="header-library__buttons">
            <button class="header-library__btn header-library__btn--watched">Watched</button>
            <button class="header-library__btn header-library__btn--queue">queue</button>
        </div>
    </div>
</header>
