<header class="header-home">
    <div class="container">
        <nav class="navigation">
            <!-- <img src="../images/svg/film.svg" width="20px" height="20px" alt=""> -->
            <h1>Filmoteka</h1>
            <ul class="nav-buttons">
                <button class="header-nav-btn">home</button>
                <button class="header-nav-btn">my library</button>
            </ul>
        </nav>
        <input type="text">
        <p>Search result not successful. Enter the correct movie name and</p>
    </div>
</header>