<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="close-modal-btn" data-modal-close>
      <svg class="close-modal-icon" width="20" height="20">
        <use href="../images/svg/close.svg#close"></use>
      </svg>
    </button>
    <div class="modal__left--side">
      <img src="" alt="Movie picture" />
    </div>
    <div class="modal__right--side">
      <h2 class="modal__title">Movie name</h2>
      <div class="modal__movies--wrap">
        <ul class="modal__movies--wrap-list list">
          <li class="modal__movies--wrap-item">
            <p class="modal__movies--wrap-item-type">Vote / Votes</p>
            <span class="modal__movies--wrap-item-result">xxxx</span>
            <p class="modal__movies--wrap-item-type">Popularity</p>
            <span class="modal__movies--wrap-item-result">xxxx</span>
            <p class="modal__movies--wrap-item-type">Original Title</p>
            <span class="modal__movies--wrap-item-result">xxxx</span>
            <p class="modal__movies--wrap-item-type">Genre</p>
            <span class="modal__movies--wrap-item-result">xxxx</span>
          </li>
        </ul>
      </div>
      <p class="about-movie">About</p>
      <p class="about-right-text">
        Four of the West is most infamous outlaws assemble to steal a huge stash of gold from the
        most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
        the other three escapes with bags of gold hide out in the abandoned gold mine where they
        happen across another gang of three – who themselves were planning to hit the very same
        bank! As tensions rise, things go from bad to worse as they realised the bags of gold are
        filled with lead... they have been double crossed – but by who and how?
      </p>
      <button class="btn modal__button" type="button">Add to watched</button>
    </div>
  </div>
</div>
