<div class="backdrop" data-index="backdrop">
  <div class="movie" data-index="modal">
    <div class="movie__image-wrap">
      <img src="" alt="Movie name" class="movie__img" />
    </div>
    <div class="movie__content-wrap">
      <h3 class="movie__title">Movie name</h3>
      <div class="movie__info-wrap">
        <ul class="movie__info-wrap-list list">
          <li class="movie__info-wrap-item">
            <p class="movie__info-wrap-item-type">Vote / Votes</p>
            <p class="movie__info-wrap-item-vote"><span></span> / <span></span></p>
          </li>
          <li class="movie__info-wrap-item">
            <p class="movie__info-wrap-item-type">Popularity</p>
            <p class="movie__info-wrap-item-popularity"></p>
          </li>
          <li class="movie__info-wrap-item">
            <p class="movie__info-wrap-item-type">Original Title</p>
            <p class="movie__info-wrap-item-name">xxxx</p>
          </li>
          <li class="movie__info-wrap-item">
            <p class="movie__info-wrap-item-type">Genre</p>
            <ul class="movie__info-genre-list list">
              <li class="movie__info-genre-item"><span>,</span></li>
              <li class="movie__info-genre-item"><span>,</span></li>
              <li class="movie__info-genre-item"></li>
            </ul>
          </li>
        </ul>
      </div>
      <p class="about-movie-title">About</p>
      <p class="movie-description">
        Four of the West is most infamous outlaws assemble to steal a huge stash of gold from the
        most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
        the other three escapes with bags of gold hide out in the abandoned gold mine where they
        happen across another gang of three – who themselves were planning to hit the very same
        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
        filled with lead... they have been double crossed – but by who and how
      </p>
      <div class="movie__modal-btn-box">
        <button type="button" class="button modal__movie-btn" id="watchedModalBtn">
          Add to watched
        </button>
        <button type="button" class="button modal__movie-btn" id="queueModalBtn">
          Add to queue
        </button>
      </div>
    </div>
    <button type="button" class="close-modal-btn" id="close">
      <svg class="close-modal-icon" width="20" height="20">
        <use href="/images/svg/close.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
