<div class="container">
    <div class="genres-container">
        <select class="genres-list" name="genre" id="selected">
            <option class="genres-list_item" value="">All Genres</option>
            <option class="genres-list_item" value="28">Action</option>
            <option class="genres-list_item" value="12">Adventure</option>
            <option class="genres-list_item" value="16">Animation</option>
            <option class="genres-list_item" value="35">Comedy</option>
            <option class="genres-list_item" value="80">Crime</option>
            <option class="genres-list_item" value="99">Documentary</option>
            <option class="genres-list_item" value="18">Drama</option>
            <option class="genres-list_item" value="10751">Family</option>
            <option class="genres-list_item" value="14">Fantasy</option>
            <option class="genres-list_item" value="36">History</option>
            <option class="genres-list_item" value="27">Horror</option>
            <option class="genres-list_item" value="10402">Music</option>
            <option class="genres-list_item" value="9648">Mystery</option>
            <option class="genres-list_item" value="10749">Romance</option>
            <option class="genres-list_item" value="878">Science Fiction</option>
            <option class="genres-list_item" value="10770">TV Movie</option>
            <option class="genres-list_item" value="53">Thriller</option>
            <option class="genres-list_item" value="10752">War</option>
            <option class="genres-list_item" value="37">Western</option>
        </select>
    </div>
</div>
