.header-library__buttons {
  display: block;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 768px) {
    height: 44px;
  }

  @media screen and (min-width: 1024px) {
    height: 44px;
  }
}

.header-library__btn {
  @include font(12px, 16px, 500);
  width: 130px;
  height: 44px;
  border-radius: 4px;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid $whiteColor;
  text-align: center;
  cursor: pointer;
  color: $whiteColor;
  @include transition(all);

  &:hover,
  &:focus {
    background-color: $secondaryOrangeColor;
    @include transition(all);
    transition-delay: 0.3s;
    transition-property: all;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }

  &--active {
    background-color: $secondaryOrangeColor;
    border-color: $secondaryOrangeColor;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    @include transition(all);
  }
}
