// --------------Backdrop-----------------/
.backdrop {
  position: fixed;
  width: 100%;
  //   height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: saturate(180%) blur(10px);
  overflow-y: scroll;
  opacity: 1;
  z-index: 300;
  padding: 20px;
  @include transition(transform);
  @include transition(opacity);
  display: flex;
  align-items: center;
  justify-content: center;

  &.is-hidden {
    opacity: 0;
  }
}

// -------------Modal---------------
.movie {
  display: flex;
  width: 280px;
  min-height: 700px;
  padding: 48px 20px 41px 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: $whiteColor;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  .is-hidden & {
    transform: scale(0.9);
  }

  @media screen and (max-width: 767px) {
    display: block;
    margin: 0 auto;
  }

  @media screen and (min-width: $tablet) {
    position: relative;
    width: 618px;
    min-height: 562px;
    padding: 42px 30px 40px 28px;
  }
  @media screen and (min-width: $desktop) {
    width: 882px;
    min-height: 568px;
    padding: 50px 30px 40px 30px;
  }
}

.movie__image-wrap {
  width: 240px;
  height: 357px;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;

  @media screen and (min-width: $tablet) {
    width: 264px;
    height: 374px;
    margin-right: 32px;
  }

  @media screen and (min-width: $desktop) {
    width: 396px;
    height: 478px;
  }
}

.movie__img {
  margin-left: 50%;
  margin-top: 62%;
  height: auto;
  transform: translate(-50%, -50%);
}

.modal-poster {
  width: 100%;
  object-fit: cover;
}

.movie__content-wrap {
  height: auto;

  @media screen and (min-width: $tablet) {
    width: 264px;
  }
  @media screen and (min-width: $desktop) {
    width: 396px;
  }
}

.movie__title {
  @include font(20px, 1.15, 500, 0.04em);
  text-transform: uppercase;
  margin-bottom: 20px;
  @media screen and (min-width: $desktop) {
    @include font(30px, 1.17, 500, 0.04em);
  }
}

.movie__info-wrap {
  margin-bottom: 20px;
}

.movie__info-wrap-item {
  display: flex;
  margin-bottom: 10px;

  & p:last-child {
    max-width: 132px;

    @media screen and (min-width: $tablet) {
      max-width: 156px;
    }
    @media screen and (min-width: $desktop) {
      max-width: 244px;
    }
  }
}

.movie__info-wrap-item-type {
  width: 108px;
  color: $footerTextColor;

  @media screen and (min-width: $desktop) {
    width: 152px;
  }
}

.vote-slash {
}

.movie__info-wrap-item-vote {
  display: flex;

  & > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 14px;

    @include font(12px, 1.17);

    border-radius: 5px;
    background-color: $bgColor;
    margin-top: -1px;
  }

  & > span:first-child {
    color: $whiteColor;
    background-color: $orangeColor;
  }
}

.movie__info-wrap-item-name {
  display: inline-block;
  text-transform: uppercase;
}

.movie__info-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 132px;

  @media screen and (min-width: $tablet) {
    max-width: 156px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 244px;
  }
}

.movie__info-item {
  &:last-child > span {
    display: none;
  }
}

.about-movie-title {
  margin: 0;
  margin-bottom: 10px;
}

.movie-description {
  margin: 0;
  margin-bottom: 21px;
  overflow-y: scroll;

  @include font(12px, 1.67);
}

.movie__modal-btn-box {
  display: flex;
  justify-content: start;
}

.modal__movie-btn {
  width: 112px;
  height: 44px;
  font-size: 12px;
  text-transform: uppercase;
  border-color: $blackColor;
  border-radius: 5px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:first-child {
    margin-right: 15px;
  }

  &:hover {
    color: $whiteColor;
    background-color: $orangeColor;
    border-color: $orangeColor;
  }
  &.added-to-storage {
    background: $orangeColor;
    color: $whiteColor;
    border: 1px solid $orangeColor;
  }

  @media screen and (min-width: $tablet) {
    width: 125px;
  }
  @media screen and (min-width: $desktop) {
    width: 136px;
  }
}

.close-modal-btn {
  content: '';

  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close-modal-icon {
  font-size: 30px;
  color: $blackColor;
}
