.team-member {
    background-color: $whiteColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    .team-member__img {
        display: block;
        margin-bottom: 30px;
    }

    .team-member__title {
        margin-bottom: 10px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        color: $blackColor;
    }

    .team-member__text {
        margin-bottom: 16px;
        color: $blackColor;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
}

.team-social {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

    .team-social__link {
        display: block;
        padding: 12px;
        width: 44px;
        height: 44px;
        border-radius: 50%;
       @include transition(background-color);

        &:hover,
        &:focus {
            outline: none;
            background-color: $orangeColor;
        }
    }
}

.team-social__icon {
    font-size: 20px;
    color: $orangeColor;
    @include transition(fill);

    .team-social__link:hover &,
    .team-social__link:focus & {
        color: $whiteColor;
    }
}
.swiper-slide {
    width: 50%;
}